h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
}
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap);
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap);
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-books-card {
  background-color: #f6f6f6;
}

.title-best-sellers {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #111111;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title-best-sellers {
    margin-top: 0;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.04em;
  }
}

.title-best-sellers-color {
  color: #4f2ee8;
}

.title-last-word-color {
  color: #4f2ee8;
}

.item-category {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #b4afaf;
  margin-bottom: 18px;
  display: block;
}

@media screen and (max-width: 374.98px) {
  .img-card-book {
    width: 100%;
    height: 485px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 375px) {
  .img-card-book {
    width: 335px;
    height: 485px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .img-card-book {
    width: 218px;
    height: 316px;
  }
}
@media screen and (min-width: 1280px) {
  .img-card-book {
    width: 160px;
    height: 228px;
  }
}

.img-book {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.box-text-book-best {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .box-text-book-best {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .box-text-book-best {
    margin-bottom: 32px;
  }
}

.card-book {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .card-book {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .card-book {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 374.98px) {
  .box-title {
    width: 320px;
    height: 18px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 375px) {
  .box-title {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .box-title {
    width: 218px;
  }
}
@media screen and (min-width: 1280px) {
  .box-title {
    width: 160px;
  }
}

@media screen and (max-width: 374.98px) {
  .box-author {
    width: 320px;
    height: 18px;
  }
}
@media screen and (min-width: 375px) {
  .box-author {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .box-author {
    width: 218px;
  }
}
@media screen and (min-width: 1280px) {
  .box-author {
    width: 160px;
  }
}

.title-book {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: var(--main-color);
  margin-bottom: 4px;
}

.author-book {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: -0.04em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #b4afaf;
}

.title-category {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #111111;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title-category {
    margin-top: 0;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .title-category {
    margin-top: 40px;
  }
}

.author-book-category {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: -0.04em;
  text-overflow: ellipsis;
  color: #b4afaf;
}

.see-more {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
  box-sizing: border-box;
  width: 124px;
  height: 46px;
  margin-left: auto;
  background: #f6f6f6;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.see-more:hover,
.see-more :focus {
  background: #4f2ee8;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .box-category {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .box-category {
    gap: 21px;
  }
}

.top-books {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .top-books {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 40px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .top-books {
    gap: 21px;
    row-gap: 40px;
  }
}

.btn-up {
  position: fixed;
  right: 30px;
  bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 5px solid rgba(17, 17, 17, 0.5);
  background-color: #4f2ee8;
  box-shadow: 0 0 0 5px rgba(79, 46, 232, 0.3);
  transition: transform 0.2s ease-in-out;
}
.btn-up:hover,
.btn-up :focus {
  transform: scale(1.05);
  background-color: #eac645;
}

.icon-up {
  width: 24px;
  height: 24px;
}

.is-hidden-up {
  display: none;
}

.link-books-render:hover {
  cursor: pointer;
}

.categories {
  color: rgba(17, 17, 17, 0.6);
}
.categories__container {
  max-height: 228px;
  padding-right: 28px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 374.98px) {
  .categories__container {
    max-width: 335px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 375px) {
  .categories__container {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .categories__container {
    width: 337px;
    max-height: 472px;
  }
}
@media screen and (min-width: 1280px) {
  .categories__container {
    width: 318px;
  }
}
.categories__container::-webkit-scrollbar {
  width: 8px;
}
.categories__container::-webkit-scrollbar-track {
  background: #202024;
}
.categories__container::-webkit-scrollbar-thumb {
  width: 100%;
  height: 114px;
  border-radius: 12px;
  background: rgba(17, 17, 17, 0.6);
}
@media screen and (min-width: 768px) {
  .categories__container::-webkit-scrollbar-thumb {
    height: 167px;
  }
}
.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .categories-list {
    gap: 32px;
  }
}

.category {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: font-size, color;
}
@media screen and (min-width: 768px) {
  .category {
    font-size: 18px;
    line-height: 1.33;
  }
}
.category:hover, .category:focus {
  font-size: 17px;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .category:hover, .category:focus {
    font-size: 19px;
  }
}
.category.checked-category {
  text-transform: uppercase;
  font-weight: bold;
  color: #eac645;
}/*# sourceMappingURL=index.css.map */