@import './base/reset';
@import './base/base';
@import './utils/fonts';
@import './utils/variables';

@import './components/header';
@import './components/shopping-list';
@import './layout/container';
@import './components/home-page';
@import './components/categories';
@import './components/donate-bar';
@import './components/shopping-list';
@import './components/scroll-up';
@import './components/modal';



