$color-background-grey: #D0D0D0;
$color-background-dark: #202024;
$color-background-blue: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
$color-background-text-black: #111111;
$color-background-text-white: #FFFFFF;
$color-background-text-yellow: #EAC645;


$color-text-maxgrey: rgba(0, 0, 0, 0.6);
$color-text-medgrey:rgba(17, 17, 17, 0.6);
$color-text-mingrey:rgba(255, 255, 255, 0.6);


$color-text-lightgrey:#B4AFAF;
$color-text-button-purple:#4F2EE8