<!-- Iryna -->
<section class="support-container">
    <div>
        <h2 class="support-title">Support Ukraine</h2>
        <svg class="icon-trident" width="20" height="32">
            <use href="./images/icons.svg#icon-trident"></use>
        </svg>
    </div>
    <div class="swiper">
        <ul class="swiper-wrapper">
        </ul>
    </div>
    <button class="swiper-button-next" type="button">
        <svg width="22" height="22">
            <use href="./images/icons.svg#icon-slider"></use>
        </svg>
    </button>
</section>