<!-- Nazar -->

<!-- <button class="modal__open">Quick view</button> -->
<img src="/src/images/donate-bar/amazon.png" alt="amazon" class="amazon" />
<div class="backdrop backdrop-js">
  <div class="modal modal-js">
    <button class="modal__close-btn modal-btn-js">
      <svg width="24" height="24" class="icon-close">
        <use href="/src/images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal__wrapper modal__wrapper-js">
      <a href="https://www.amazon.com/dp/0593652886?tag=NYTBSREV-20">
        <img
          class="book modal__img"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1659825850l/61771675.jpg"
          alt="book"
        />
      </a>
      <div class="modal__content">
        <h3 class="modal__title">HELLO BEAUTIFUL</h3>
        <p class="modal__author">Ann Napolitano</p>
        <p class="modal__description">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="modal__list"></ul>
      </div>
    </div>
    <button type="submit" class="modal__add-btn modal__add-btn-js">
      Add to shopping list
    </button>
  </div>
</div>
