<!-- Nazar -->

<div class="backdrop">
  <div class="modal">
    <div class="modal__content">
      <button type="button" class="modal__close-btn">
        <svg width="24" height="24" class="icon-close">
          <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="modal__container"></div>
      <button class="modal__btn" type="button"></button>
      <p class="is-hidden modal__descr-local">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
