<div class="shopping container">
  <h1 class="shopping-title">Shopping <span class="shopping-title--color">List</span></h1>
  <div class="shopping__books-list">
    <ul>
        <li class="books-list__item">
          <p class="books-list__name">I will find you</p>
          <p class="books-list__categories">Hardcover fiction</p>
          <span class="books-list__description">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover Matthew had been murdered while David was asleep just down the hall.</span>
          <p class="books-list__author">Harlan Coben</p>
        </li>
      </ul>
  </div>
  
</div>
