// Nazar
.header {
    color: blue;
}

.book{
    width: 200px;
}

.visibility{
    visibility: hidden;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    overflow-y: scroll;
    overflow: hidden;
}

.modal {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px 22px;
    width: calc(100% - 20px * 2);

    background: white;
    border: 2px solid black;
    border-radius: 18px;

    &.is-hidden {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4);
        visibility: 0;
    }

    @media screen and (min-width: 375px) and (max-width: 767px) {
        max-height: calc(100% - 20px * 2);
        overflow-y: scroll;
    }

    @media screen and (min-width: 375px) {
        width: 335px;
    }

    @media screen and (min-width: 768px) {
        width: 579px;
        min-height: 465px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;

    background: inherit;
    border: none;
    color: black;


    &:hover,
    &:focus {
        color: blue;
    }

    @media screen and (min-width: 768px) {
        top: 24px;
        right: 24px;

        width: 28px;
        height: 28px;
    }
}

.modal__wrapper {

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.modal__img {
    margin-bottom: 14px;

    width: 287px;
    height: 408px;

    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        width: 192px;
        height: 281px;
        margin-bottom: 0;
    }
}

.modal__content {

    @media screen and (min-width: 768px) {
        width: 280px;
    }
}

.modal__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: calc(28 / 24);
    }
}

.modal__author {
    margin-bottom: 18px;

    font-style: italic;
    font-size: 12px;
    line-height: calc(14 / 12);

    color: gray;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}

.modal__description {
    max-width: 287px;
    margin-bottom: 14px;

    font-size: 14px;
    line-height: calc(18 / 14);

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.modal__list {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
}

.modal__link {
    mix-blend-mode: luminosity;


    // &:hover,
    // &:focus {
    //     filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    // }
}

.modal__add-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 62px;

    border: 2px solid blue;
    border-radius: 40px;

    background-color: inherit;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: inherit;

    &:hover,
    &:focus {
        color: white;
        background-color: blue;
    }
    @media screen and (min-width: 768px) {
        padding: 14px 165px;
    }
}