// Nazar

.backdrop {
    display: none;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-text-medgrey;
    opacity: 1;
    overflow-y: auto;

    &__hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
 
.modal {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 335px;
    height: 762px;
    background-color: $color-background-text-white;
    border: solid 2px #111111;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        width: 579px;
        height: 465px;
    }
    @media screen and (min-width: 1440px) {
        width: 579px;
        height: 465px;
    }
}
.modal__content {
    @media screen and (min-width: 768px) {
    }
}

.modal__container {
    margin: 25px 24px 0px 24px;

    @media screen and (min-width: 768px) {
        display: flex;
        margin: 40px;
    }
}

.modal__close-btn {
    background: none;
    position: absolute;
    right: 7px;
    top: 11px;
    cursor: pointer;
    border: none;
}

.icon-close {
    fill: $color-background-text-black;
}

.icon-close:hover {
    fill: $color-text-button-purple;
}

.modal__btn {
    position: absolute;
    width: 211px;
    height: 46px;
    left: 62px;
    top: 676px;
    border: 2px solid $color-text-button-purple;
    border-radius: 40px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $color-background-text-black;
    background-color: $color-background-text-white;
        @media screen and (min-width: 768px) {
            justify-content: center;
            align-items: center;
            width: 499px;
            height: 64px;
            left: 40px;
            top: 361px;
            border: 2px solid $color-text-button-purple;
            border-radius: 40px;

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.01em;
            text-transform: uppercase;

            color: #111111;
        }
}

.modal__btn:hover,
.modal__btn:focus {
    color: $color-background-text-white;
    background-color: $color-text-button-purple;
}

.hidden {
    display: none;
}

.modal__descr-local {
    display: none;
    font-family: DM Sans;
    padding-right: 46px;
    padding-left: 47px;
    margin-top: 8px;
    text-align: center;
    font-size: 10px;
    letter-spacing: -0.04em;
    line-height: 1.2;
    color: $color-text-medgrey;
}

.modal__img {
    width: 287px;
    height: 408px;
    border-radius: 8px;
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
        width: 192px;
        height: 281px;
        margin-right: 24px;
    }
}

.modal__title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: $color-background-text-black;
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.16;
    }

}

.modal__author {
    font-family: 'DM Sans';
    font-size: 12px;
    line-height: 1.16;
    font-style: italic;
    letter-spacing: -0.04em;
    color: #b4afaf;
    margin-bottom: 18px;
}

.modal__description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    color: $color-background-text-black;
    min-height: 50px;
    margin-bottom: 14px;
    width: 265px;
}

.modal__shop{
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 54px;
}

.modal__shop-amazon {
    filter: grayscale(100%);
    width: 62px;
    height: 19px;
        &:hover,
        &:focus {
            filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }
}

.modal__shop-ibooks {
    filter: grayscale(100%);
    width: 33px;
    height: 32px;
    &:hover,
    &:focus {
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }
}

.modal__shop-bookShop {
    filter: grayscale(100%);
    width: 38px;
    height: 36px;
    &:hover,
    &:focus {
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }
}