.shopping-title {
  color: rgba(17, 17, 17, 1);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
}

.shopping-title--color {
  color: rgba(79, 46, 232, 1);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
}

.shopping__books-list {
  @media (min-width: 375px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 1440px) {
    max-width: 996px;
  }
}

.books-list__item {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  //   width: 335px;
  height: 170px;
  left: 20px;
  top: 182px;
  box-sizing: border-box;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  padding: 30px 24px;
  gap: 48px;
  //   isolation: isolate;
  //   position: absolute;

  @media (min-width: 414px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 704px;
  }
}

.books-list__name {
  width: 114px;
  height: 18px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;

  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.books-list__categories {
  color: rgba(180, 175, 175, 1);
  width: 101px;
  height: 14px;
  left: 128px;
  top: 36px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.03em;
}

.books-list__description {
  width: 193px;
  height: 68px;
  left: 128px;
  top: 58px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  letter-spacing: -0.04em;
}

.books-list__author {
  color: rgba(180, 175, 175, 1);
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: -0.04em;
}
