// Symeon

.container-center {
  display: flex;
}

.support-container__shopping {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    min-width: 356px;
    padding-left: 40px;
    padding-right: 58px;
    padding-top: 24px;
    padding-bottom: 20px;
    border-radius: 16px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    color: $color-background-text-white;
    font-family: 'DM Sans', sans-serif;
    margin-right: 40px;
    height: 490px;
    padding-bottom: 14px;
  }

  // padding-bottom: 24px;
}

.shopping {
  @media (min-width: 375px) {
    width: 100%;
  }
}

.shopping-title {
  color: rgba(17, 17, 17, 1);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  margin-bottom: 40px;

  @media (min-width: 375px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 100%;
    font-size: 48px;
    line-height: 1.08;
  }
  @media (min-width: 1440px) {
    max-width: 996px;
  }
}

.shopping-title--color {
  color: rgba(79, 46, 232, 1);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;

  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 1.08;
  }
}

.shopping__books-list {
  position: relative;
  @media (min-width: 375px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 1440px) {
    max-width: 996px;
  }
}

.books-list__item {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  height: 170px;
  left: 20px;
  top: 182px;
  box-sizing: border-box;
  display: flex;
margin-bottom: 20px;
  padding: 14px;
 

  @media (min-width: 375px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    height: 213px;
    padding: 24px;
  }
}

.books-list__image {
  max-width: 100px;
  max-height: 142px;
//   background-color: rgba(79, 46, 232, 0.4);
  margin-right: 14px;
  border-radius: 8px;
  overflow: hidden;

  @media (min-width: 768px) {
    margin-right: 24px;
    max-width: 116px;
    max-height: 165px;
  }
}

.books-info {
  display: flex;
  width: 100%;
  min-height: 142px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @media (min-width: 768px) {
    min-height: 165px;
  }
}

.dump-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin: 0;
}

.dump-icon {
  width: 28px;
  height: 28px;

  @media (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.books-list__name {
  height: 18px;

  margin-bottom: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  @media (max-width: 767px) {
    width: 150px;
    height: 34px;
  }
}

.books-list__categories {
  color: rgba(180, 175, 175, 1);
  height: 14px;
  left: 128px;
  top: 36px;
  margin-bottom: 8px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  @media (min-width: 768px) {
    margin-bottom: 14px;
  }
}

.books-list__description {
  display: -webkit-box;
  max-height: 68px;
  left: 128px;
  top: 58px;
  margin-bottom: 16px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  letter-spacing: -0.04em;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @media (min-width: 768px) {
    max-height: 53px;
    margin-bottom: 33px;
  }
}

.books-list__author {
  color: rgba(180, 175, 175, 1);
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: -0.04em;
}

.shops {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 8px;

  @media (min-width: 768px) {
   gap: 16px;
  }
}

.amazon {
//   mix-blend-mode: luminosity;
filter: grayscale(100%);
  width: 32px;
  height: 11px;

  @media (min-width: 768px) {
    width: 48px;
    height: 15px;
  }
}

.ibooks {
    filter: grayscale(100%);
  width: 16px;
  height: 16px;

  @media (min-width: 768px) {
    width: 28px;
    height: 27px;
  }
}

.book-shop {
    filter: grayscale(100%);
  width: 16px;
  height: 16px;

  @media (min-width: 768px) {
    width: 32px;
    height: 30px;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: 375px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    margin-top: 40px;
    width: 100%;
  }
  @media (min-width: 1440px) {
    max-width: 996px;
  }
}

.pagination-button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.pagination-svg {
  width: 38px;
  height: 38px;

  @media (min-width: 768px) {
    width: 44px;
    height: 44px;
  }
}
